<div class="jumbotron">
      <div class="container">
        <h1>All for one. One for all.</h1>
        <p>Find your next marketing superstar with the help of your peers.
        <br>Browse our crowd-sourced library of awesome marketing questions <br> and build a marketing skills assesment test.</p>
        <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up & Create A Test  &raquo;</a></p>
      </div>
</div>
